ansible>=2.5.0
os-client-config
shade
openstacksdk
python-barbicanclient
python-keystoneclient
python-magnumclient==2.12.0
python-novaclient
python-openstackclient
python-ironicclient
python-heatclient
