---
# Prepare cluster
- import_playbook: setup.yml

- import_playbook: configure-ib.yml
  when: configure_ib_enabled | default(true) | bool

# Prepare cluster
- import_playbook: latest-packages.yml

# Add openstack configuration
- import_playbook: os-config.yml

# Use mdadm to create software defined raid
- import_playbook: mdadm.yml

# Use mdadm to create software defined raid
- import_playbook: parted.yml

# Setup ceph mount
- import_playbook: manila-client.yml
  when: ceph_mount_enabled | default(false) | bool

# Setup hyperconverged storage. Current clusterfs options are:
# - glusterfs
# - beegfs
# - <undefined>
- import_playbook: '{{ cluster_fs }}.yml'
  when: cluster_fs is defined

# Add cluster users with shared home directory
- import_playbook: users.yml

# Add cluster admin users
- import_playbook: cluster-admins.yml

# Install monitoring services
- import_playbook: monitoring-agent.yml
- import_playbook: monitoring-rsyslog.yml
- import_playbook: monitoring-dashboard.yml

# Cluster login setup
- import_playbook: slurm.yml
...
